@charset "UTF-8";

input.txtCustCode {	
	width: 100px;
	margin: 0;
	ime-mode: disabled;
	text-align: right;
}

input.txtCustNmR {
	width: 160px;
	margin: 0;
	ime-mode: active;
}

input.txtCorrectKb {	
	width: 40px;
	margin: 0;
	ime-mode: disabled;
	text-align: right;
}

input.txtZeroDlvdatFlg {	
	width: 40px;
	margin: 0;
	ime-mode: disabled;
	text-align: right;
}

.cbx_width185 {
	width: 185px;
}
.td_width3 {
	width: 3px;
}
.td_width110 {
	width: 110px;
}

.td_width330 {
	width: 330px;
}

.td_width3per {
	width: 3%;
}
.td_width8per {
	width: 8%;
}
.td_width7per{
	width: 7%;
}
.td_width12per{
	width: 12%;
}
.td_width14per{
	width: 14%;
}
.td_width24per{
	width: 24%;
}

/* Table データ呼び出し条件
  ========================================================================== */
.tbl_data_condition {
	width: 1200px;
	clear: both;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_data_condition td {
		border-bottom: 2px solid #fff;
	}
	.tbl_data_condition td:nth-child(1),
	.tbl_data_condition td:nth-child(7){
		padding-right: 10px;
		width: 100px !important;
	}
	.tbl_data_condition td:nth-child(4){
		padding-right: 10px;
		width: 140px !important;
	}
	.tbl_data_condition td:nth-child(3),
	.tbl_data_condition td:nth-child(6),
	.tbl_data_condition td:nth-child(9){
		padding-left: 3px;
	}
	.tbl_data_condition td:nth-child(3) {
		width: 300px !important;
	}
	.tbl_data_condition td:nth-child(6) {
		width: 340px !important;
	}
	.tbl_data_condition td:nth-child(9) {
	}
	.tbl_data_condition span {
		vertical-align: middle;
	}

.tbl_data_condition_bot {
	width: 1200px;
	clear: both;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_data_condition_bot td {
		border-bottom: 2px solid #fff;
		text-align: center;
	}

.height380 {
	height: 380px;
}
