.mr17 {
	margin-right: 17px !important;
}
/* Width px */
.td_width3 {
	width: 3px;
}
.td_width40 {
	width: 40px;
}
.td_width50 {
	width: 50px;
}
.td_width65 {
	width: 65px;
}
.td_width110 {
	width: 110px;
}
.td_width120 {
	width: 120px;
}
.td_width130 {
	width: 130px;
}
.td_width150 {
	width: 150px;
}
.td_width185 {
	width: 185px;
}
.td_width600 {
	width: 600px;
}
/* Width table
/*	 ========================================================================== */
.tbl_width240 {
	width: 240px;
}
.tbl_width595{
	width: 595px;
}
.tbl_width615{
	width: 615px;
}
.tbl_width670{
	width: 670px;
}
.tbl_width705{
	width: 705px;
}
/* Width TEXTBOX
  ========================================================================== */
.txt_width35{
	width: 35px;
}
.txt_width44{
	width: 44px;
}
.txt_width45{
	width: 45px;
}
.txt_width50{
	width: 50px;
}
.txt_width60{
	width: 60px;
}
.txt_width75{
	width: 75px;
}
.txt_width130{
	width: 130px;
}
.txt_width370{
	width: 370px;
}
.txt_width530{
	width: 530px;
}
/* Width COMBOBOX
  ========================================================================== */
.cbx_width70 {
	width: 70px;
}
.cbx_width90 {
	width: 90px;
}
.cbx_width100 {
	width: 100px;
}
.cbx_width120 {
	width: 120px;
}
.cbx_width140 {
	width: 140px;
}
.cbx_width150 {
	width: 150px;
}
.cbx_width170 {
	width: 170px;
}
.cbx_width185 {
	width: 185px;
}
.cbx_width200 {
	width: 200px;
}
.cbx_width250 {
	width: 250px;
}
.cbx_width380 {
	width: 380px;
}
.cbx_width450 {
	width: 450px;
}
.cbx_w100per {
	width: 100%;
}
/* Table 新規登録
  ========================================================================== */
.tbl_new_registration {
	width: 1200px;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_new_registration td {
		border-bottom: 2px solid #fff;
	}
	.tbl_new_registration td:nth-child(1),
	.tbl_new_registration td:nth-child(4) {
		padding-right: 10px;
	}
	.tbl_new_registration td:nth-child(3),
	.tbl_new_registration td:nth-child(6){
		padding-left: 3px;
	}
	.tbl_new_registration img {
		vertical-align: middle;
	}
/* Table Info Table
  ========================================================================== */
.tbl_new_registration td .tbl_info_table th {
	height:20px;
	background-color: #ccc0da;
	border: 1px solid #808080;
	text-align: center;
	font-weight: normal;
}
.tbl_new_registration td .tbl_info_table td{
	border: 1px solid #808080;
	padding: 0 2px;
	word-break: break-all;
}
.tbl_new_registration td .tbl_classification th{
	background-color: #d9d9d9;
	border: 1px solid #808080;
	text-align: center;
	font-weight: normal;
}
.tbl_new_registration td .tbl_classification td{
	border: 1px solid #808080;
	padding: 0 2px;
	word-break: break-all;
}
/*------------------------*/
.btn_add_row {
	height: 22px;
	width: 65px;
	padding: 0 8px 2px;
	background: #c0c0c0;
	border: 1px solid #808080;
}

.color_orange {
	color: #ff6600 !important;
}
.color_darkred {
	color: #c00000 !important;
}

.txt_width96{
	width: 96px;
}
.txt_width196{
	width: 196px;
}










