/* Table データ呼び出し条件
  ========================================================================== */
.tbl_data_condition {
	width: 1200px;
	clear: both;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_data_condition td {
		border-bottom: 2px solid #fff;
	}
	.tbl_data_condition td:nth-child(1),
	.tbl_data_condition td:nth-child(4),
	.tbl_data_condition td:nth-child(7){
		padding-right: 10px;
		width: 115px !important;
	}
	.tbl_data_condition td:nth-child(3),
	.tbl_data_condition td:nth-child(6),
	.tbl_data_condition td:nth-child(9){
		padding-left: 3px;
	}
	.tbl_data_condition td:nth-child(3) {
		width: 300px !important;
	}
	.tbl_data_condition td:nth-child(6) {
		width: 340px !important;
	}
	.tbl_data_condition td:nth-child(9) {
	}
	.tbl_data_condition span {
		color: #0066cc;
		vertical-align: middle;
	}

.span_width27 {
	width: 27px;
	display: block;
}
/* Height DIV
/*	 ========================================================================== */
.height430 {
	height: 430px;
}
.td_width3 {
	width: 3px;
}
.td_width5per {
	width: 5%;
}
.td_width7per {
	width: 7%;
}
.td_width9per {
	width: 9%;
}
.td_width10per {
	width: 10%;
}
.td_width14per {
	width: 14%;
}
.td_width20per {
	width: 20%;
}
.td_width21per {
	width: 21%;
}
.txt_width135{
	width: 135px;
}
.txt_width240{
	width: 240px;
}
.cbx_width185 {
	width: 185px;
}
.sub-menu {
	width: 80px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	display: none;
}

.sub-menu a {
	color: #000;
	padding: 3px;
	padding-left: 15px;
	display: block;
}