.ui-datepicker-trigger {
	vertical-align: middle;
}

input.txtCustCode {	
	width: 100px;
	margin: 0;
	ime-mode: disabled;
	text-align: left;
}

input.txtShopCode {	
	width: 100px;
	margin: 0;
	ime-mode: disabled;
	text-align: left;
}

input.txtDenCode {	
	width: 100px;
	margin: 0;
	ime-mode: disabled;
	text-align: left;
}

.td_width4per {
	width: 4%;
}
.td_width5per {
	width: 5%;
}
.td_width6per {
	width: 6%;
}
.td_width7per{
	width: 7%;
}
.td_width9per {
	width: 9%;
}
.td_width10per {
	width: 10%;
}
.td_width11per {
	width: 11%;
}
.td_width15per {
	width: 15%;
}
.td_width16per {
	width: 16%;
}
/* Width px */
.td_width3 {
	width: 3px;
}
.td_width50 {
	width: 50px;
}
.td_width60 {
	width: 60px;
}
.td_width90 {
	width: 90px;
}
.td_width250 {
	width: 250px;
}
.td_width350 {
	width: 350px;
}

.td_width365 {
	width: 365px;
}

.txt_width85 {
	width: 85px;
}

.txt_width90 {
	width: 90px;
}

.cbx_width185 {
	width: 185px;
}
.cbx_w100per {
	width: 100%;
}

.mr55 {
	margin-right: 55px !important;
}
.ml_mr4 {
	margin-left: 4px;
	margin-right: 4px;
}

.width105 {
	width: 105px !important;
}
.width230 {
	width: 230px !important;
}
.width120 {
	width: 120px !important;
}

.recorded_date {
	border: 1px solid #000000 !important;
	height: 60px;
	width: 230px;
	display: table;
	background-color: #ffffff;
}
	.recorded_date span {
		display:table-cell;
		vertical-align:middle;
	}

.tbl_data_condition {
	width: 1200px;
	clear: both;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_data_condition td {
		border-bottom: 2px solid #fff;
	}
	.tbl_data_condition td:nth-child(1),
	.tbl_data_condition td:nth-child(4),
	.tbl_data_condition td:nth-child(7){
		padding-right: 10px;
	}
	.tbl_data_condition td:nth-child(3),
	.tbl_data_condition td:nth-child(6),
	.tbl_data_condition td:nth-child(9){
		padding-left: 3px;
	}
	.tbl_data_condition span {
		vertical-align: middle;
	}

.tbl_data_condition_bot {
	width: 1200px;
	clear: both;
	margin: 0px auto;
	font-size: 12px;
	padding-top: 10px;
}
	.tbl_data_condition_bot td {
		border-bottom: 2px solid #fff;
		text-align: center;
	}

.height315 {
	height: 315px;
}

.bg_faf9e5 {
	background: #FAF9E5 !important;
}