/* 検索結果ヘッダ部 */
.tblSearchResult_head {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}
	.tblSearchResult_head th {
		border-collapse: collapse;
		background-color: #aa5930;
		line-height: 25px;
		color: #fff;
	}

	.tblSearchResult_head th:nth-child(1) {
		width: 20%;
		border-left: 1px solid #FEF1CF;
	}

	.tblSearchResult_head th:nth-child(2) {
		width: 10%;
		border-left: 1px solid #FEF1CF;
	}

	.tblSearchResult_head th:nth-child(3) {
		width: 35%;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_head th:nth-child(4) {
		width: 35%;
		border-left: 1px solid #FEF1CF;
	}

/* 検索結果ボディ部 */
.tblSearchResult_body {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}

	.tblSearchResult_body tr:nth-child(even){
		background: #faf9e5;
	}

	.tblSearchResult_body tr:nth-child(odd){
		background: #fff;
	}

	.tblSearchResult_body td {
		text-align: left;
		border-collapse: collapse;
		color: #0066cc;
		line-height: 25px;
	}
	
	.tblSearchResult_body td:nth-child(1){
		width: 20%;
		text-align: left;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(2){
		width: 10%;
		text-align: center;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(3){
		width: 15%;
		text-align: left;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(4){
		width: 20%;
		text-align: left;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(5){
		width: 15%;
		text-align: left;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(6){
		width: 20%;
		text-align: left;
		padding-left: 10px;
		border-left: 1px solid #FEF1CF;
	}
	.tblSearchResult_body td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10){
		display: none;
	}
