.mt3 {
	margin-top: 3px;
}
/* Width TD Table
  ========================================================================== */
/* Width % */
.td_width3per {
	width: 3%;
}
.td_width6per {
	width: 6%;
}
.td_width10per {
	width: 10%;
}
.td_width31per {
	width: 31%;
}
.td_width37per {
	width: 37%;
}
/* Width px */
.td_width3 {
	width: 3px;
}
.td_width100 {
	width: 100px;
}
.td_width300 {
	width: 300px;
}
.txt_width30 {
	width: 30px;
}
.txt_width100 {
	width: 100px;
}

/* Table
  ========================================================================== */
.tbl_data_condition {
	width: 1200px;
	clear: both;
	margin: 10px auto;
	font-size: 12px;
}
	.tbl_data_condition td {
		border-bottom: 2px solid #fff;
	}
	.tbl_data_condition td:nth-child(1),
	.tbl_data_condition td:nth-child(4),
	.tbl_data_condition td:nth-child(7){
		padding-right: 10px;
	}
	.tbl_data_condition td:nth-child(3),
	.tbl_data_condition td:nth-child(6),
	.tbl_data_condition td:nth-child(9){
		padding-left: 3px;
	}

.height475 {
	height: 475px;
}
.width180 {
	width: 180px;
}

.bg_60497a {
	background-color: #60497a !important;
}

/* datepicker  */
.ui-datepicker-trigger {
     margin-left:5px;
     margin-top: 5px;
     margin-bottom: -3px;
}

