<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.daitoku_sh.dfcm.common.db.mapper.Com0101d03Mapper">
	<select id="getPersonalCharge" resultMap="jp.co.daitoku_sh.dfcm.common.db.mapper.MstUserMapper.BaseResultMap" parameterType="map">
		SELECT
			Password
		FROM MST_USER
		WHERE
			User_Code = #{User_Code}
			AND STS_Code = '1'
	</select>
	<update id="changePassword" parameterType="map">
		UPDATE 
			MST_USER
		SET 
			Password = #{Password}
		WHERE 
			User_Code = #{User_Code}
			AND STS_Code = '1'
	</update>
</mapper>