@charset "UTF-8";
/* ログイン
  ========================================================================== */

body {
	margin: 0 !important;
	color: #333 !important;
	font-family: Verdana,Helvetica,sans-serif !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
	line-height: 1.6 !important;
	background: #f1f1f1 !important;
}

.login_content {
	font-size: 14px;
	margin: 3em auto 0;
	max-width: 60em;
	padding-bottom: 100px;
	padding-top: 100px;
}
.error_msg {
	text-align: center;
	color: red;
	margin: 0.5em 0;
}
.btn_login_area {
	text-align: center;
	margin-bottom: 40px;
	width: 300px;
	margin: 0 auto;
}
.btn_login {
	background-color: #FFF !important;
	width: 300px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #555;
	font-weight: normal;
	font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
	cursor: pointer;
}
.btn_login:hover {
	border: 1px solid #999999;
	color: #212121;
}

.login_content {
	font-size: 14px;
	text-align: center;
}

.login_content fieldset {
	background-color: #fefefe;
	border: none;
	border-radius: 50px;
}

.login_field_container {
	margin: 1em 0;
}

.login_field_container input {
	margin-left: 1em !important;
	width: 120px;
}

.login_field_container .checkbox-1a input {
	margin-left: 1em;
	width: 20px;
}
.login_footer {
	text-align: center;
}